In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("elections.csv")

In [7]:
data.shape

(182, 6)

In [8]:
data.head(3)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927

In [9]:
data.isnull().sum()

Year            0
Candidate       0
Party           0
Popular vote    0
Result          0
%               0
dtype: int64

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          182 non-null    int64
 1   Candidate     182 non-null    object
 2   Party         182 non-null    object
 3   Popular vote  182 non-null    int64
 4   Result        182 non-null    object
 5   %             182 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 8.7+ KB

In [27]:
data.describe()

              Year  Popular vote           %
count   182.000000  1.820000e+02  182.000000
mean   1934.087912  1.235364e+07   27.470350
std      57.048908  1.907715e+07   22.968034
min    1824.000000  1.007150e+05    0.098088
25%    1889.000000  3.876395e+05    1.219996
50%    1936.000000  1.709375e+06   37.677893
75%    1988.000000  1.897775e+07   48.354977
max    2020.000000  8.126892e+07   61.344703